* {
    margin: 0;
    padding: 0;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
a{
    display: flex;
    justify-content: right;
    padding: 15px;
    color: #667eea;
    text-decoration: none;
}

h2 {
    text-align: center;
    border: 3px solid black;
    width: 10%;
    margin: auto;
}

#tasklist {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

article {
    h3 {
        text-align: center;
        padding: 15px;
    }

    >div {
        height: 75vh;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        div[draggable="true"] {
            border: 1px solid black;
            width: 45%;
            height: 100px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4,
            p {
                text-align: center;
                align-content: center;
                padding: 5px;
            }

            h4 {
                height: 20%;
            }

            p {
                height: 80%;
            }
        }
    }

    #todo {
        background-color: lightcoral;
    }

    #ongoing {
        background-color: lightgoldenrodyellow;
    }

    #done {
        background-color: lightgreen;
    }
}