.title-secondary {
  text-align: center;
  margin: 1.5rem 0 12px 0;
  font-size: 1.5rem;
}

#tasklist {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

article h3 {
  text-align: center;
  padding: 15px;
}

.column {
  height: 70vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
