<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PostRi7 - Espace Kevin (Admin)</title>
    <link rel="stylesheet" href="../../public/css/adminView.css" />
    <link rel="stylesheet" href="../../public/css/main.css" />
  </head>

  <body class="body">
    <header class="header">
      <h1 class="main-title">Tableau de Bord de Kevin</h1>
      <p class="main-p">Gestionnaire de tickets PostRi7</p>
      <a id="logout" class="logout" href="/src/views/login.html"
        >Se déconnecter</a
      >
    </header>

    <main class="dashboard">
      <div class="box creation">
        <!---------------Création de tickets---------------->
        <section class="section-display" id="creation-ticket">
          <h2 class="section-title">Ajouter une nouvelle tâche</h2>

          <div class="form-group">
            <input
              type="text"
              id="title"
              placeholder="Titre du ticket (ex: Debug API)"
              required
            />

            <textarea
              id="content"
              placeholder="Description de la tâche..."
              rows="4"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="employeeSelect">Assigner à un employé :</label>
            <select id="employeeSelect">
              <option value="">-- Sélectionner un employé --</option>
            </select>

            <button type="button" id="createTicketBtn">Créer le ticket</button>
          </div>
        </section>

        <!-- Zone édition -->
        <section id="edit-ticket-zone" class="section-display hidden">
          <h2 class="section-title">Modifier le ticket</h2>

          <div class="form-group">
            <label>Titre</label>
            <input type="text" id="editTitle" />

            <label>Description</label>
            <textarea id="editContent" rows="4"></textarea>

            <label>Assigner à un employé</label>
            <select id="editEmployee">
              <option value="">Non assigné</option>
            </select>

            <div class="edit-buttons">
              <button id="saveEditBtn">Sauvegarder</button>
              <button id="deleteTicketBtn" class="danger">Supprimer</button>
              <button id="cancelEditBtn" class="secondary">Fermer</button>
            </div>
          </div>
        </section>
      </div>

      <div class="kanban">
        <div class="column">
          <h3>Non assignés</h3>
          <div id="unassigned"></div>
        </div>

        <div class="column">
          <h3>Assignés</h3>
          <div id="assigned"></div>
        </div>
      </div>
    </main>
    <footer class="footer">&copy; 2026 Sam & Christel</footer>
    <script src="../../public/js/adminScript.js"></script>
  </body>
</html>
