<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <main>
      <h2>Employé</h2>
      <section>
        <form action="" id="form">
          <div>
            <label for="lastname">Nom</label>
            <input
              id="lastname"
              type="text"
              name="lastname"
              placeholder="Nom"
            />
          </div>

          <div>
            <label for="firstname">Prénom</label>
            <input
              id="firstname"
              type="text"
              name="firstname"
              placeholder="Prénom"
            />
          </div>

          <div>
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              name="email"
              placeholder="Adresse mail"
            />
          </div>

          <div>
            <label for="password">Mot de Passe</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Mot de passe"
            />
          </div>

          <button type="submit">Creer un compte</button>
          <a href="/src/views/login.html">S'identifier</a>
        </form>
      </section>
    </main>
    <script src="/public/js/main.js"></script>
  </body>
</html>
