<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/ticketView.css">
    <title>Tickets</title>
</head>
<body>
    <main>
        <div id="user">
            <h1></h1>
            <button type="button" class="admin">Mode administrateur</button>
        </div>
        <section>
            <h2>Liste des tâches</h2>
            <div id="tasklist">
                <article>
                    <h3>À faire</h3>
                    <div id="todo" class="drop"></div>
                </article>
                <article>
                    <h3>En cours</h3>
                    <div id="ongoing" class="drop"></div>
                </article>
                <article>
                    <h3>Terminées</h3>
                    <div id="done" class="drop"></div>
                </article>
            </div>
        </section>
    </main>

    <script src="/public/js/ticketView.js"></script>
</body>

</html>