<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
</head>

<body>
    <main>
        <div>
            <h1>Bienvenue 'user'</h1>
            <button type="button" class="admin">Mode administrateur</button>
        </div>
        <section>
            <h2>Liste des tâches</h2>
            <article>
                <h3>À faire</h3>
                <div id="todo"></div>
            </article>
            <article>
                <h3>En cours</h3>
                <div id="ongoing"></div>
            </article>
            <article>
                <h3>Terminées</h3>
                <div id="done"></div>
            </article>
        </section>
    </main>

    <script src="/public/scripts/ticketView.js"></script>
</body>

</html>